openapi: 3.0.0
info:  
  title: FracttalAPI
  x-logo:
    url: 'https://ayuda.fracttal.com/wp-content/uploads/2019/05/fracttal_logo_principal.png'
    backgroundColor: '#FFFFFF'
    altText: Fracttal
  version: '1.0'
  contact:
    email: soporte@fracttal.com
    name: 'Fracttal '
    url: 'https://ayuda.fracttal.com/'
  termsOfService: 'https://www.fracttal.com/es/terminos-y-condiciones'
  description: |
        Sample table: 
          <table>
      <tr>
        <td>One</td>
        <td>Two</td>
        <td>Three</td>
      </tr>
      <tr>
        <td>a</td>
        <td>b</td>
        <td>c</td>
      </tr>
    </table>      
servers:
  - url: 'https://app.fracttal.com/api'
    description: API
paths:
  
  ##### ACTIVOS - INICIO
  ## Consultar Activo 
  '/items_details/{code}':
    parameters:
      - schema:
          type: string
        name: code
        in: path
        description: Código del activo.
        required: true
    get:
      x-explorer-enabled: false      
      summary: xxx
      tags:
        - API Activos
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  success:
                    type: boolean
                    description: Éxito de la operación
                  message:
                    type: string
                    minLength: 1
                    description: Código de respuesta
                  data:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    description: Array con detalle de respuesta
                    items:
                      type: object
                      description: Ítem de respuesta
                      properties:
                        active:
                          type: boolean
                          description: 'True si el activo está activo, false en caso contrario.'
                        code:
                          type: string
                          minLength: 1
                          description: Código ítem
                        description:
                          type: string
                          minLength: 1
                          description: Descripción
                        id_type_item:
                          type: number
                          description: 'Tipo de activo. Puede ser: 1 para Ubicaciones, 2 para Equipos, 3 para Herramientas, 4 para Repuestos y suministros, 5 para Digital'
                        barcode:
                          type: string
                          minLength: 1
                          description: Código de barras
                        field_1:
                          type: string
                          minLength: 1
                          description: Nombre
                        field_2:
                          type: string
                          minLength: 1
                          description: Fabricante
                        field_3:
                          type: string
                          minLength: 1
                          description: Modelo
                        field_4:
                          type: string
                          minLength: 1
                          description: Número de serial
                        field_5:
                          type: string
                          minLength: 1
                          description: Otro 1
                        field_6:
                          type: string
                          description: Otro 2
                        notes:
                          description: Notas
                          type: string
                        min_stock_warning:
                          type: boolean
                          description: |
                            Alerto de minimo de inventario
                        weight:
                          description: Peso
                          type: string
                        is_serial_control:
                          type: boolean
                          description: true cuando es un item controlado por serial
                        lead_time:
                          description: ''
                          type: string
                        items_types_description:
                          type: string
                          minLength: 1
                          description: Nombre del tipo de activo
                        groups_description:
                          description: Tipo
                          type: string
                        groups_1_description:
                          description: Clasificación 1
                          type: string
                        groups_2_description:
                          type: string
                          description: Clasificación 2
                        custom_fields_groups_description:
                          type: string
                          minLength: 1
                          description: Nombre del grupo de campos personalizados que tiene asociado el activo
                        units_description:
                          description: Descripción de la unidad
                          type: string
                        priorities_description:
                          type: string
                          description: Prioridad
                        parent_description:
                          type: string
                          minLength: 1
                          description: Ubicado o es parte de
                        purchase_date:
                          type: string
                          minLength: 1
                          description: Fecha de compra
                        total_cost:
                          type: number
                          description: Costo total
                        anual_depreciation:
                          type: number
                          description: Porcentaje depreciación anual
                        startup_date:
                          type: string
                          minLength: 1
                          description: Fecha de inicio para la depreciación
                        total_replacement_cost:
                          type: number
                          description: Costo total de la depreciación lineal
                        salvage_value:
                          type: number
                          description: Valor de sustitución (depreciación)
                        costs_center_description:
                          type: string
                          minLength: 1
                          description: Descripción Centro de costos
                        budgets_description:
                          type: string
                          minLength: 1
                          description: Costo total de la depreciación lineal
                        cost_average:
                          type: number
                          description: Costo Promedio
                        latitude:
                          description: Latitud
                          type: string
                        longitud:
                          type: string
                          description: Longuitud
                        groups_tasks_description:
                          type: string
                          minLength: 1
                          description: Plan de tareas al que pertenece
                        units_code:
                          description: Código de la unidad
                        visible_to_all:
                          type: boolean
                          description: True si el activo se puede visualizar a todas las personas de la empresa
                        available:
                          type: boolean
                          description: 'True cuando el activo está disponible, false en caso contrario'
                        initial_date_out_of_service:
                          description: Fecha inicial del fuera de servicio (Aplica cuando el activo no está disponible)
                  total:
                    type: number
                    description: Número de elementos del detalle de respuesta
                required:
                  - success
                  - message
                  - data
      operationId: get-items_details-code
      description: |-
        Mediante esta API se puede consultar la información detallada de un activo.
        Puedes consultar el listado de tus activos o realizar filtros por el código y/o tipo de activo.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                item_type:
                  type: number
                  description: |-
                    Filtrar por tipos de activo. En la siguiente tabla se muestra el número que se debe enviar de acuerdo al tipo de activo que se desea obtener:
                    1: Ubicaciones 
                    2: Equipos
                    3: Herramientas
                    4: Repuestos y Suministros
                    5: Digital
                location_code:
                  type: string
                  description: Código del activo padre del cual se desea consultar sus hijos
                start:
                  type: number
                  description: Número de registro desde el cual comenzará la consulta.Por defecto inicia en el item 0.
                limit:
                  type: string
                  description: Número de registro final que retornará la consulta. Por defecto se retornan 100 registros (Valor máximo)
    x-explorer-enabled: false
  ##Crear Activo
  /items:
    post:
      summary: Crear un Activo
      tags:
        - API Activos
      operationId: post-items
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  success:
                    type: boolean
                    description: true si el insert fue exitoso o false en caso contrario
                  message:
                    type: string
                    minLength: 1
                    description: 200 si fue exitoso
                  data:
                    type: object
                    description: Json con el item insertado
                    properties:
                      code:
                        type: string
                        minLength: 1
                      description: {}
                      id_type_item:
                        type: number
                      notes: {}
                      min_stock_warning: {}
                      weight: {}
                      id_unit: {}
                      is_serial_control:
                        type: boolean
                      is_tool:
                        type: boolean
                      active:
                        type: boolean
                      barcode:
                        type: string
                        minLength: 1
                      field_1:
                        type: string
                        minLength: 1
                      field_2:
                        type: string
                        minLength: 1
                      lead_time:
                        type: string
                      path_image:
                        type: string
                      field_3:
                        type: string
                        minLength: 1
                      field_4:
                        type: string
                        minLength: 1
                      is_changed:
                        type: boolean
                      field_5:
                        type: string
                        minLength: 1
                      field_6:
                        type: string
                        minLength: 1
                      import_code: {}
                      total_replacement_cost: {}
                      salvage_value: {}
                      purchase_date:
                        type: string
                        minLength: 1
                      total_cost: {}
                      anual_depreciation: {}
                      startup_date: {}
                      latitude: {}
                      longitud: {}
                      visible_to_all:
                        type: boolean
                      hours_average_daily_use: {}
                  total:
                    type: number
                    description: Cantidad de registros insertados (Siempre será 1)
                required:
                  - success
                  - message
                  - data
      description: |-
        Mediante esta API puedes crear un activo en Fracttal.
        Debes tener en cuenta que la cantidad de activos que puedes crear están limitados por el plan que tenga contratado tu empresa
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                id_type_item:
                  type: number
                  description: 'Tipo de activo. Puede ser: 1 para Ubicaciones, 2 para Equipos, 3 para Herramientas, 4 para Repuestos y suministros, 5 para Digital'
                code:
                  type: string
                  minLength: 1
                  description: Código ítem
                field_1:
                  type: string
                  minLength: 1
                field_2:
                  type: string
                  minLength: 1
                field_3:
                  type: string
                  minLength: 1
                field_4:
                  type: string
                  minLength: 1
                field_5:
                  type: string
                  minLength: 1
                field_6:
                  type: string
                  minLength: 1
                barcode:
                  type: string
                  minLength: 1
                  description: Código de barras
                priorities:
                  type: string
                  minLength: 1
                  description: Descripción de la Prioridad
                purchase_date:
                  type: string
                  minLength: 1
                  description: 'Fecha de compra. Formato: ''YYYY-MM-DDTHH:MM:SS-UTC'' Ejemplo:''2016-07-12T20:00:00-03''.'
                is_serial_control:
                  type: string
                  minLength: 1
                  description: 'true cuando es un item controlado por serial, false en caso contrario. (False valor por defecto)'
                is_tool:
                  type: string
                  minLength: 1
                active:
                  type: string
                  minLength: 1
                  description: 'true si el activo está activo, false en caso contrario.'
                is_changed:
                  type: string
                  minLength: 1
                notes:
                  type: string
                  description: Notas
                weight:
                  type: string
                  description: Peso
                group:
                  type: string
                  description: Tipo
                group_1:
                  type: string
                  description: Clasificación 1
                group_2:
                  type: string
                  description: Clasificación 2
                code_parent_location:
                  type: string
                  description: Código del activo donde está ubicado o es parte de
                latitude:
                  type: string
                  description: Latitud
                longitud:
                  type: string
                  description: Longuitud
                unit_code:
                  type: string
                  description: Código de la unidad
                unit_description:
                  type: string
                  description: Descripción de la unidad
                visible_to_all:
                  type: string
                  description: True si el activo se puede visualizar a todas las personas de la empresa
                total_cost:
                  type: string
                  description: Costo total
                startup_date:
                  type: string
                  description: 'Fecha de inicio para la depreciación. Formato: ''YYYY-MM-DDTHH:MM:SS-UTC'' Ejemplo:''2016-07-12T20:00:00-03''.'
                costs_center:
                  type: string
                  description: Descripción Centro de costos
                budgets:
                  type: string
                  description: Costo total de la depreciación lineal
              required:
                - id_type_item
                - code
  #Asociar un activo a un plan de tareas
  '/items_associate_tasks_plan/{item_code}':
    parameters:
      - schema:
          type: string
        name: item_code
        in: path
        required: true
        description: Es el código del activo al cual se le realizará la asignación del plan de tareas
    put:
      summary: Asociar activo a un plan de tareas
      tags:
        - API Activos
      operationId: put-items_associate_tasks_plan-item_code
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  success:
                    type: boolean
                    description: Éxito de la operación
                  message:
                    type: string
                    minLength: 1
                    description: Código de respuesta
                  data:
                    type: object
                    required:
                      - id
                      - code
                      - description
                      - id_type_item
                      - id_group_task
                      - groups_tasks_description
                    description: Ítem de respuesta
                    properties:
                      id:
                        type: number
                        description: Id Elemento - NSDI
                      code:
                        type: string
                        minLength: 1
                        description: Código del activo
                      description:
                        type: string
                        minLength: 1
                        description: Descripción del activo
                      id_type_item:
                        type: number
                        description: |-
                          Tipo de activo.
                          1: Ubicaciones
                          2: Equipos
                          3: Herramientas
                      id_group_task:
                        type: number
                        description: Id del plan de tareas al que fue asociado
                      groups_tasks_description:
                        type: string
                        minLength: 1
                        description: Descripción del plan de tareas al que fue asociado
                  total:
                    type: number
                    description: Número de elementos del detalle de respuesta
                required:
                  - success
                  - message
                  - data
                  - total
      description: |-
        Mediante este servicio web se puede asociar a un activo un plan de tareas.

        Para poder hacer uso de este servicio web, el activo no puede estar asociado a ningún plan de tareas, debe ser una ubicación, equipo o herramienta y las tareas dentro del plan de tareas, no pueden tener activadores ni subtareas relacionadas con lecturas de medidor.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                id_tasks_plan:
                  type: string
                  minLength: 1
                  description: Id del plan de tareas (lo puedes consultar con el servicio web consulta de plan de tareas )
                code_user:
                  type: string
                  minLength: 1
                  description: Código del usuario responsable de la transacción (usuario creado como recurso humano en de Fracttal y con una cuenta asociada)
                last_date_maintenance:
                  type: string
                  minLength: 1
                  description: 'Fecha del último mantenimiento. Por defecto, es la fecha actual. Formato: YYYY-MM-DD'
              required:
                - id_tasks_plan
                - code_user
                - last_date_maintenance
        description: 'Los siguientes son los parámetros que se deben de enviar en el body del servicio web, para la asignación del plan de tareas.'
  ##### ACTIVOS -FIN
  /transactions_log:
    get:
      summary: Consultar log de transacciones
      tags:
        - API Compañía
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                description: Respuesta
                type: object
                properties:
                  success:
                    type: boolean
                    description: Éxito de la operación
                  message:
                    type: string
                    minLength: 1
                    description: Código de respuesta
                  data:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    description: |
                      Array con detalle de respuesta
                    items:
                      type: object
                      description: Ítem de respuesta
                      properties:
                        id:
                          type: number
                          description: Id Registro - NSDI
                        id_company:
                          type: number
                          description: Id Compañía - NSDI
                        id_account:
                          type: number
                          description: Id Cuenta - NSDI
                        event_date:
                          type: string
                          minLength: 1
                          description: Fecha del evento (Fecha en UTC-0)
                        ip_address:
                          type: string
                          minLength: 1
                          description: IP desde donde se realizó la acción
                        name:
                          type: string
                          minLength: 1
                          description: Nombre del usuario que realizó la acción
                        email:
                          type: string
                          minLength: 1
                          description: email del usuario que realizó la acción
                        sub_module_description:
                          type: string
                          minLength: 1
                          description: Sub módulo donde se realizó la acción
                        module_description:
                          type: string
                          minLength: 1
                          description: Módulo donde se realizó la acción
                        action:
                          type: string
                          minLength: 1
                          description: Acción
                        description:
                          type: string
                          minLength: 1
                          description: Descripción de la acción
                      required:
                        - id
                        - id_company
                        - id_account
                        - event_date
                        - ip_address
                        - name
                        - email
                        - sub_module_description
                        - module_description
                        - action
                        - description
                  total:
                    type: number
                    description: Número de elementos del detalle de respuesta
                required:
                  - success
                  - message
                  - data
                  - total
        '400':
          description: El request está mal formado. La información para crear el recurso no existe o es inválida
        '401':
          description: Error en la autenticación. La autenticación falló o no se encontró la información necesaria para autenticar el request.
        '403':
          description: El usuario no tiene permisos para realizar la acción.
      operationId: get-transactions_log
      description: Mediante este servicio web se puede consultar el log de transacciones de la compañía.
  /costs_center:
    get:
      summary: Consultar Centros De Costo
      tags:
        - API Compañía
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  success:
                    type: boolean
                    description: Éxito de la operación
                  message:
                    type: string
                    minLength: 1
                    description: Código de respuesta
                  data:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    description: Array con detalle de respuesta
                    items:
                      type: object
                      description: Ítem de respuesta
                      properties:
                        value:
                          type: string
                          minLength: 1
                          description: Valor del centro de costos
                        description:
                          type: string
                          minLength: 1
                          description: "\tDescripción del centro de costos"
                      required:
                        - value
                        - description
                  total:
                    type: number
                    description: Número de elementos del detalle de respuesta
                required:
                  - success
                  - message
                  - data
                  - total
      operationId: get-costs_center
      description: Mediante esta API puedes consultar todos los centros de costos que tienes creados en tu compañía.
    post:
      summary: Crear Centros De Costo
      operationId: post-costs_center
      tags:
        - API Compañía
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  success:
                    type: boolean
                    description: Éxito de la operación
                  message:
                    type: string
                    minLength: 1
                    description: Código de respuesta
                  data:
                    type: object
                    required:
                      - value
                      - description
                    description: 'Detalle de respuesta '
                    properties:
                      value:
                        type: string
                        minLength: 1
                        description: Valor del centro de costos
                      description:
                        type: string
                        minLength: 1
                        description: "\tDescripción del centro de costos"
                  total:
                    type: number
                    description: N/A
                required:
                  - success
                  - message
                  - data
                  - total
      description: Mediante esta API puedes crear un centros de costos dentro de tu compañía.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                value:
                  type: string
                  description: Valor del centro de costos
                description:
                  type: string
                  description: Descripción del centro de costos
        description: Los siguientes son los parámetros que se deben de enviar en el body del servicio web
  
  '/items_custom_fields/{code}':
    parameters:
      - schema:
          type: string
        name: code
        in: path
        description: Código del activo.
        required: true
    get:
      summary: Consultar campos personalizados de los activos
      tags:
        - API Activos
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  success:
                    type: boolean
                    description: Éxito de la operación
                  message:
                    type: string
                    minLength: 1
                    description: Código de respuesta
                  data:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    description: Array con detalle de respuesta
                    items:
                      type: object
                      description: Detalle de respuesta
                      properties:
                        id:
                          type: number
                        id_company:
                          type: number
                        id_item:
                          type: number
                          description: Id del activo
                        code:
                          type: string
                          minLength: 1
                          description: Código del activo
                        description:
                          type: string
                          minLength: 1
                          description: Descripción del activo
                        label_name:
                          type: string
                          minLength: 1
                          description: Descripción del campo personalizado
                        value:
                          type: string
                          description: Valor del campo personalizado
                        id_custom_field_group:
                          type: number
                          description: Id del grupo personalizado
                        id_custom_field_type:
                          type: number
                          description: Id del tipo de campo personalizado
                      required:
                        - id
                        - id_company
                        - id_item
                        - code
                        - description
                        - label_name
                        - value
                        - id_custom_field_group
                        - id_custom_field_type
                  total:
                    type: number
                    description: Número de elementos del detalle de respuesta
                required:
                  - success
                  - message
                  - data
                  - total
      operationId: get-items_custom_fields-code
      description: |-
        Mediante esta API se puede consultar los campos personalizados  de los activos.

        Se puede consultar el listado de todos los campos personalizados de los activos o de un activo en particular
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: string
                  description: Código del activo.
                item_type:
                  type: number
                  description: |-
                    Tipo de activo que se está buscando. Este campo es obligatorio, si se desea consultar los campos personalizados de un activo en particular. Valor según el tipo de activo:
                    1: Ubicaciones
                    2: Equipos
                    3: Herramientas
                    4: Repuestos y Suministros
                    5: Digital
                start:
                  type: number
                  description: Número de registro desde el cual comenzará la consulta.Por defecto inicia en el item 0.
                limit:
                  type: number
                  description: Número de registro final que retornará la consulta. Por defecto se retornan 100 registros (Valor máximo)
        description: Los siguientes son los parámetros que se deben de enviar en el body del servicio web 
  
components:
  schemas: {}
  securitySchemes: {}
tags:  
  - name: API Activos
    description: Sección de activos
    externalDocs:
      url: 'http://api.fracttal.com'
  - name: API Compañía
    description: Sección de compañía
    externalDocs:
      url: 'http://api.fracttal.com'
